# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Meson files and directories
build

# Ninja files
.ninja_deps
.ninja_log

# Vim files
*.swp

# Application temp files.
zeus/tests/fake_init.d/log/
zeus/tests/run/
